# GitModules
[submodule "src/golang.org/x/build"]
	path = src/golang.org/x/build
	url = https://github.com/golang/build.git
[submodule "src/golang.org/x/crypto"]
	path = src/golang.org/x/crypto
	url = https://github.com/golang/crypto.git
[submodule "src/golang.org/x/image"]
	path = src/golang.org/x/image
	url = https://github.com/golang/image.git
[submodule "src/golang.org/x/net"]
	path = src/golang.org/x/net
	url = https://github.com/golang/net.git
[submodule "src/golang.org/x/oauth2"]
	path = src/golang.org/x/oauth2
	url = https://github.com/golang/oauth2.git
[submodule "src/golang.org/x/text"]
	path = src/golang.org/x/text
	url = https://github.com/golang/text.git
[submodule "src/golang.org/x/tools"]
	path = src/golang.org/x/tools
	url = https://github.com/golang/tools.git
[submodule "src/github.com/go-sql-driver/mysql"]
	path = src/github.com/go-sql-driver/mysql
	url = https://github.com/go-sql-driver/mysql.git
[submodule "src/github.com/gorilla/websocket"]
	path = src/github.com/gorilla/websocket
	url = https://github.com/gorilla/websocket.git
